@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: #fffffa;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px #193133c7;
    border-radius: 10px;
    width: 95%;
}

body {
    background-image: linear-gradient(to right, #0079bf, #1f1f53);
}

h1 {
    text-align: center;
    color: #1f1f53;
    text-shadow: 1px 1px 2px #17174185;
}

h2 {
    text-align: center;
    color: #024490;
    text-shadow: 1px 1px 2px #081a2585;
}

p {
    text-align: justify;
}

.name {
    font-weight: bold;
    font-size: 1.1em;
}

.name:hover {
    color: #1f1f53;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    box-shadow: 2px 2px 7px #4e4e4e;
}

.crefaz {
    color: #213458;
    text-decoration: inherit;
    font-weight: bold;
}

.crefaz:hover {
    color: #E47816;
}

.sociais {
    margin: auto;
    width: 200px;
}