@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0079bf, #1f1f53);
    margin: 0px;
    padding: 0px;
}

header {
    display: table;
    width: 100%;
    background-color: #fffffa;
    height: 75px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

header > h1 {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    text-align: center;
    color: #1f1f53;
    text-shadow: 1px 1px 2px #00000085;
}

main {
    background-color: #fffffa;
    margin: auto;
    padding: 10px;
    padding-bottom: 1px;
    box-shadow: 7px 5px 10px #00000085;
    border-radius: 0px 0px 10px 10px;
    width: 95%;
}

h2 {
    text-align: center;
    color: #024490;
    text-shadow: 1px 1px 2px #00000085;
}

p {
    text-align: justify;
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(4, 4, 56);
}

a:active {
    color:#5e758f;
}

img {
    border-radius: 50%;
}

.name {
    font-weight: bold;
    font-size: 1.1em;
}

.name:hover {
    color: #1f1f53;
}

.profile {
    display: block;
    margin: auto;
    box-shadow: 2px 2px 6px #0000004b;
    border: 3px solid white;
}

.crefaz {
    color: #213458;
    text-decoration: none;
    font-weight: bold;
}

.crefaz:hover {
    color: #E47816;
}

.sociais {
    margin: auto auto 20px auto;
    width: fit-content;
}

.links {
    margin: 3px;
}

#mark {
    font-size: 8px;
    color: grey;
    text-align: center;
    padding-top: 10px;
}