@charset "UTF-8";

:root {
    --corfundo: whitesmoke;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: whitesmoke;
    margin: 0px;
    padding: 0px;
}

header {
    display: table;
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: var(--corfundo);
    padding: 10px 0px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

header > h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.7em;
    margin: 0px;
    text-align: center;
    color: #252525;
}

main {
    background-color: var(--corfundo);
    margin: auto;
    padding: 10px;
    padding-bottom: 1px;
    height: 100%;
    position: relative;
    margin-left: 500px;
}

h2 {
    text-align: left;
    color: #02317a;
    padding: 10px;
    margin: auto;
    font-weight: normal;
}

.infos {
    text-align: center;
    padding: 5px;
    line-height: 25px;
    width: fit-content;
    margin: 10px auto;
}

.infos > p {
    display: inline-table;
    color: rgb(109, 109, 109);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 5px 20px;
}

.infos img {
    vertical-align: middle;
    padding-right: 5px;
}

p {
    text-align: justify;
    max-width: 90%;
    margin: auto;
}

section > p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(4, 4, 56);
}

a:active {
    color:#5e758f;
}

img.circle {
    border-radius: 50%;
}

.profile {
    display: block;
    margin: auto;
    /* border: 3px solid white; */
    width: 150px;
}

.sociais {
    margin: auto auto 20px auto;
    width: fit-content;
    display: flex;
}

.links {
    margin: 3px;
}

#mark {
    font-size: 8px;
    color: grey;
    text-align: center;
    padding-top: 10px;
}

article {
    position: fixed;
    z-index: 100000;
    background-color: #171717;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 450px;
    color: whitesmoke;
    padding: 20px;
}