@charset "UTF-8";

:root {
    --corfundo: whitesmoke;
    --corsecundaria: #0060b9;
    --corprimaria: #171717;
    --corterciaria: #2e2e2e;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: whitesmoke;
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    z-index: 100000;
    background-color: var(--corprimaria);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 350px;
    color: whitesmoke;
    padding: 20px;
}

header > h1 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

main {
    background-color: var(--corfundo);
    margin: auto;
    padding: 10px;
    padding-bottom: 1px;
    height: 100%;
    position: relative;
    margin-left: 390px;
}

h2 {
    text-align: left;
    color: var(--corsecundaria);
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: normal;
    border-bottom: 3px solid var(--corsecundaria);
    border-image: linear-gradient(to right, var(--corsecundaria) 3%, transparent 6%) 100% 1;
    padding-bottom: 15;
}

.navbar {
    padding-left: 0px;
    list-style-type: none;
}

.navbar > li {
    color: whitesmoke;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

.navbar > li > a {
    color: white;
}
.navbar > li > a:hover {
    text-decoration: none;
    color: var(--corsecundaria);
    transition: 0.50s;
}

.navbar > li > a > i {
    width: 25px;
}

.infos {
    text-align: center;
    padding: 5px;
    line-height: 25px;
    width: fit-content;
    margin: 10px auto;
}

.infos > p {
    display: inline-table;
    color: rgb(109, 109, 109);
    margin: 5px 10px;
}

.infos > p {
    background-color: var(--corterciaria);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
}

.infos > p:hover {
    background-color: var(--corsecundaria);
    transition: 0.50s;
}

p {
    text-align: justify;
    max-width: 90%;
    margin: auto;
}

section > p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:active {
    color:#ffffff;
}

img.circle {
    border-radius: 50%;
    border: 5px solid var(--corterciaria);
}

.profile {
    display: block;
    margin: auto;
    /* border: 3px solid white; */
    width: 150px;
}

.links {
    margin: 3px;
}

#mark {
    position: fixed;
    z-index: 1000000;
    left: 0px;
    bottom: 5px;
    width: 390px;
    font-size: 10px;
    color: grey;
    text-align: center;
}
