@charset "UTF-8";

:root {
    --corfundo: whitesmoke;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: whitesmoke;
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    z-index: 100000;
    background-color: #171717;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 350px;
    color: whitesmoke;
    padding: 20px;
}

header > h1 {
    font-size: 20px;
    text-align: center;
}

main {
    background-color: var(--corfundo);
    margin: auto;
    padding: 10px;
    padding-bottom: 1px;
    height: 100%;
    position: relative;
    margin-left: 390px;
}

h2 {
    text-align: left;
    color: #02317a;
    padding: 10px;
    margin: auto;
    font-weight: normal;
}

.navbar {
    padding-left: 0px;
    list-style-type: none;
}

.navbar > li {
    color: whitesmoke;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

.navbar > li > a {
    color: white;
}
.navbar > li > a:hover {
    text-decoration: none;
    color: #003b72;
}

.infos {
    text-align: center;
    padding: 5px;
    line-height: 25px;
    width: fit-content;
    margin: 10px auto;
}

.infos > p {
    display: inline-table;
    color: rgb(109, 109, 109);
    margin: 5px 10px;
}

.infos > p {
    background-color: #2e2e2e;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
}

.infos > p:hover {
    background-color: #003b72;
}

p {
    text-align: justify;
    max-width: 90%;
    margin: auto;
}

section > p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:active {
    color:#ffffff;
}

img.circle {
    border-radius: 50%;
}

.profile {
    display: block;
    margin: auto;
    /* border: 3px solid white; */
    width: 150px;
}

.links {
    margin: 3px;
}

#mark {
    position: fixed;
    z-index: 1000000;
    left: 0px;
    bottom: 5px;
    width: 390px;
    font-size: 8px;
    color: grey;
    text-align: center;
}
